<template>
    <div :class="divPadding" class="flex items-center">
        <img src="/images/logo.png" alt="icon" class="h-8 w-auto mr-4"/>
    </div>
</template>

<script>
export default {
    name: "logo",
    props: {
        divPadding: {
            type: String,
            default: 'px-4',
            required: false
        },
        textClass: {
            type: String,
            default: 'text-gray-200',
            required: false
        }
    }
}
</script>
